.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--lt-surface);
}

.sidebar-main-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
